<!doctype html>
<html lang="en">
<%- include('./partials/header'); %>
  
  <body>
    <%- include('./partials/navbar'); %>

  <div class="container">
    <h1>Thank you for submitting!</h1>
    <p>You entered:</br> Species: <%= species %> </br> Nickname: <%= nickname %> </br> Status: <%= status %></p>
  </div>

    <%- include('./partials/scripts'); %>

  </body>
</html>